@{
    ViewData["Title"] = "Авторизация";
}

<h2>Авторизация</h2>
<form method="post" asp-action="Aut">
    <label for="email">Email</label>
    <input type="email" name="email" required />

    <label for="password">Password</label>
    <input type="password" name="password" required />

    <button type="submit">Войти</button>
</form>

@if (ViewBag.ErrorMessage != null)
{
    <div style="color: red;">@ViewBag.ErrorMessage</div>
}
