@{
    ViewData["Title"] = "Контакты";
}

<h2>Контакты</h2>
<p>
    Телефон: +7 (495) 544-57-70
    +7 (800) 775-28-34
</p>
<p>Ежедневно с 9:00 до 22:00 по Московскому времени</p>
<p>Интересующие вас вопросы Вы можете написать нам на почту</p>
<p>Email: store@brandshop.ru</p>
<p>
    Магазин BRANDSHOP #1
    Москва, Каретный Ряд, 8
    Режим работы – с 10:00 до 22:00, ежедневно
</p>
